h1 {
	color: white;
	font-size: 50px;
	text-align: center;
}

p {
	color: black;
	text-align: left;
}

img {
    display: block;
    margin: auto;
    width: 30%;
    white-space: pre;
    border-radius: 15px;
}

#Blue {
	color: blue;
}

#Purple {
	color: purple;
}
#Teal {
	color: teal;
}

body {
	background-color: lavender;
}

h2 {
	text-align: center;
	font-style: italic;
}

h3 {
	text-align: right;
	color: #4169E1;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align:center;
}

ul.topnav li {
    float: center;
    display: inline;
}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}
